@import url("../../const/colors.css");
:root {
  --arrangeElement: 30px;
  --widthOfRightSide: 350px;
  --logoWidth: 150px;
}
.welcome-page {
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  .left-side {
    // padding-left: var(--leftSide);
    display: flex;
    flex-direction: column;
    .logo {
      position: absolute;
      margin: var(--arrangeElement) 0;
    }
    .welcome-text {
      margin-top: calc(var(--logoWidth) + var(--arrangeElement) * 2);
      .text {
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 1px;
        word-spacing: 2px;
      }
      .icon-wrapper {
        margin-top: calc(var(--arrangeElement) - 10px);
        .done-icon {
          font-size: 70px;
        }
      }
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;

    // text-align: end;
    // padding-right: var(--leftSide);
    align-items: flex-end;
    .register-now {
      text-decoration: none;
      .learn-more-button {
        width: calc(var(--widthOfRightSide));
        margin-top: calc(var(--logoWidth) + var(--arrangeElement) * 2 + 20px);
        background-color: white !important;
        color: var(--primary);
        font-family: "Bona Nova", serif !important;
      }
    }
    .line {
      width: var(--widthOfRightSide);
      height: 2px;
      background-color: var(--white);
      margin: 30px 0;
    }
    .social-icon-wrapper {
      display: flex;
      width: var(--widthOfRightSide);
      justify-content: space-around;
      .social-icon {
        list-style: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: var(--white);
        svg {
          font-size: 40px !important;
          fill: #fff;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
