@import url("../../const/colors.css");
:root {
  --navHeight: 50px;
}
.navigation-wrapper {
  width: 100%;
  height: var(--navHeight);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  .nav-options-left,
  .nav-options-right {
    .item {
      text-decoration: none;
      text-transform: capitalize;
      line-height: var(--navHeight);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 150px;
      text-align: center;
      padding: 0 5px;
      color: var(--primary);
      text-transform: uppercase;
    }
    .active {
      color: white;
      background-color: var(--primary);
      border-left: dotted 1px black;
      border-right: dotted 1px black;
    }
    .login {
    }
  }
  .nav-options-left {
    display: flex;
    margin-left: var(--leftSide);
  }
  .nav-options-right {
    display: flex;
    margin-right: var(--leftSide);
  }
}
